[submodule "frontend"]
	path = frontend
	url = https://github.com/danifdez/documents-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/danifdez/documents-backend.git
[submodule "models"]
	path = models
	url = https://github.com/danifdez/documents-models.git
