numpy
pandas
matplotlib
seaborn
scikit-learn
torch
tensorflow
pymongo
qdrant-client
transformers
llama-cpp-python
sentence-transformers
accelerate
requests
beautifulsoup4
lxml
python-docx
PyPDF2
tiktoken
jupyter
jupyter_ai
python-lsp-server[all]
